/*
*
*
*GENERAL
*
*/
body {
    font-family: Arial, serif, sans-serif;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

/*
*
*
*HEADER
*
*/

header {
    width: 100%;
    border-bottom: 2px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    display: flex;
    align-items: center;
}

.logo-section {
    margin: 0 0 0 5px;
    flex: 1;
}

.logo-img {
    width: 100%;
    max-width: 100px;
}

.title{
    margin: 0 5px 0 0;
    flex: 4;
    text-align: right;
}

h1 {
    margin: 12px 0 0;
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #2d3c49;
    font-weight: 500;
}

.title p {
    text-align: right;
    margin: 0;
}

.clear {
    clear: both;
}

/*
*
*
*MAIN SECTION
*
*/

main {
    margin-top: 10px;
}

.cover-img {
    width: 100%;
    height: 200px;
    background: #eee url(../img/cover.jpeg) no-repeat left top;
    background-size: cover;
}

h3 {
    display: block;
    width: 180px;
    color: #7d97ad;
    letter-spacing: 0.2em;
    margin: 15px auto;
    border-bottom: 3px double #7d97ad;
}

figure {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    line-height: 1.5;
}

.project-img {
    width: 100%;
    display: block;
    margin: 0;
}

figcaption {
    text-align: center;
    padding: 10px 15px 15px;
    position: relative;
}

figcaption:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 0;
    top: -15px;
    right: 0;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: white white white transparent;
    box-sizing: border-box;
}

figcaption:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 0;
    top: -15px;
    left: 0;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: white transparent white white;
    box-sizing: border-box;
}

h4 {
    margin: 10px 0;
    color: #02b3e4;
    font-weight: bold;
}


@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    article {
        width: 280px;
        margin: 0 auto;
    }
    figure {
        margin: 10px;
    }
    .project-img {
        height: 150px;
    }
}

@media only screen and (min-width: 900px) {
    body {
        display: block;
        width: 900px;
        margin: 0 auto;
        transition: all 0.3s ease;
    }
    h3 {
        width: 860px;
        margin: 40px 20px 0;

    }
}
