/*
*
*
*GENERAL
*
*/
body {
    font-family: Arial, serif, sans-serif;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

/*
*
*
*HEADER
*
*/

header {
    width: 100%;
    border-bottom: 2px solid #eee;
    -webkit-box-shadow: 5px 5px 5px #eee;
    -moz-box-shadow: 5px 5px 5px #eee;
    -o-box-shadow: 5px 5px 5px #eee;
    box-shadow: 5px 5px 5px #eee;
    display: flex;
    align-items: center;
}

.logo-section {
    margin: 0 0 0 5px;
    flex: 1;
}

.logo-img {
    width: 100%;
    max-width: 100px;
}

.title{
    margin: 0 5px 0 0;
    flex: 4;
    text-align: right;
}

h1 {
    margin: 12px 0 0;
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #a0b5c7;
    font-weight: 500;
}

.title p {
    text-align: right;
    margin: 0;
    font-weight: 600;
}

.clear {
    clear: both;
}

/*
*
*
*MAIN SECTION
*
*/

main {
    margin-top: 10px;
}

.cover-img {
    width: 100%;
    height: 200px;
    background: #eee url(../img/cover.jpeg) no-repeat left top;
    background-size: cover;
}

h3 {
    display: block;
    width: 180px;
    color: #7d97ad;
    letter-spacing: 0.2em;
    margin: 15px auto;
    border-bottom: 3px double #7d97ad;
}

figure {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    line-height: 1.5;
}

.project-img {
    width: 100%;
    display: block;
    margin: 0;
}

figcaption {
    text-align: center;
    padding: 10px 15px 15px;
    position: relative;
}

figcaption:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 0;
    top: -15px;
    right: 0;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: white white white transparent;
    box-sizing: border-box;
}

figcaption:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 0;
    top: -15px;
    left: 0;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: white transparent white white;
    box-sizing: border-box;
}

h4 {
    margin: 10px 0;
    color: #02b3e4;
    font-weight: bold;
}

.project-link {
    position: relative;
}

.project-link::after {
    content: "";
    height: 2px;
    background: #000;
    width: 0;
    position: absolute;
    bottom: -6px;
    left: 0;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.project-link:hover::after {
    width: 100%;
}

/*
*
*
*FOOTER SECTION
*
*/

.footer-container {
    min-height: 80px;
    width: 100%;
    display: flex;
    border-top: 2px solid #eee;
}

.footer-header,
.social-ico {
    flex: 1;
    align-self: center;
    margin-left: 10px;
}

.footer-header {
    text-align: right;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 2px solid red;
}

.social-item {
    font-size: 2em;
    margin: 5px;
    position: relative;
}

.social-item::after {
    content: attr(data-content);
    position: absolute;
    font-size: 0.5em;
    top: 10px;
    left: 50px;
    font-weight: bold;
}

.social-item:nth-child(1) path {
    fill: #4267B2;
}

.social-item:nth-child(2) path {
    fill: #24292E;
}

.social-item:nth-child(3) path {
    fill: #303C42;
}

.social-item:nth-child(4) path {
    fill: #0077B5;
}

/*
*
*
*MEDIA QUERY
*
*/

@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    article {
        width: 280px;
        margin: 0 auto;
    }
    figure {
        margin: 10px;
    }
    .project-img {
        height: 150px;
    }
}

@media only screen and (min-width: 900px) {
    body {
        display: block;
        width: 900px;
        margin: 0 auto;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    h3 {
        width: 860px;
        margin: 40px 20px 0;

    }
    .social-item {
        display: inline-block;
        margin: 0 15px;
    }

    .social-item::after {
        top: 40px;
        left: 0;
        width: 0;
        overflow: hidden;
        -webkit-transition: width 0.5s ease;
        -moz-transition: width 0.5s ease;
        -o-transition: width 0.5s ease;
        transition: width 0.5s ease;
    }
    .social-item:hover::after {
        width: 80px;
    }
}
